<!-- <p>students works!</p>
 -->

 <!-- ng2-charts    scatter    -->

 <div style="display: block;">
    <canvas baseChart
      [datasets]="scatterChartData"
      [options]="scatterChartOptions"
      [chartType]="scatterChartType">
    </canvas>
  </div>
  


 <!-- ng2-charts    bubble    -->
 <!-- <div style="display: block;">
    <canvas baseChart
      [datasets]="bubbleChartData"
      [options]="bubbleChartOptions"
      [colors]="bubbleChartColors"
      [legend]="bubbleChartLegend"
      [chartType]="bubbleChartType">
    </canvas>
  </div> -->

  


<!-- ng2-charts    Bar Chart   -->
 <!-- <div style="display: block;">
    <canvas baseChart 
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
  </div> -->


  
 
  <!-- ng2-charts  pie chart  -->
 <!-- <div style="display: block;">
    <canvas baseChart 
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
    </canvas>
  </div> -->
  


  <!-- CanvasJS  -->

<!-- <div id="chartContainer" style="width: 100%; height: 400px;"></div>
<div>"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""***************************************************</div>
<div id="chartContainerDashed" style="height: 300px; width: 100%;"></div> -->