<div class="container">

    <div class="row">
        <h5>
            Project Details
        </h5>
    </div>
    <div class="row">
        <!-- projects > p1 > project details -->
        <span style="font-size:14px;">
            <a routerLink="/mainpage/projects">Projects </a>&gt;
            <span class="pointer">
                <a routerLink="/mainpage/projects">{{prj}} </a>
                <!-- <a (click)="navigateToProject(prj)">{{prj}} </a> -->
            </span>&gt;project details</span>
    </div>
    <div class="row">
        <div class="col-md-12" *ngFor="let project of projectDetailsArray;let i=index" style="padding: 10px;">

            <div class="row" style="background-color:rgb(214, 9, 9)">
                <div class="col-md-12 ">
                    Name:&nbsp; {{project.pname}}
                </div>
            </div>
            <div class="row" style="border-radius: 5px;background-color: rgb(218, 219, 230);">
                <div class="col-md-12">Name: {{project.pname}}</div>
                <div class="col-md-12">Status: {{project.pstatus}}</div>
                <div class="col-md-12">Technology: {{project.ptechnology}}</div>
                <div class="col-md-12">Type: {{project.ptype}}</div>
                <div class="col-md-12" *ngIf="!showSavebtn">Duration: {{project.pduration}}</div>
                <div class="col-md-12" *ngIf="!showSavebtn">Description: {{project.pdesc}}</div>
            </div>
            <div class="row d-flex flex-row-reverse" style="border-radius: 5px;background-color: rgb(177, 176, 191);" *ngIf="!showSavebtn">           

                    <div class="d-flex flex-row-reverse" *ngIf="!showSavebtn">
                        <i class="fa fa-edit font-style" (click)="editProject(project.pduration, project.pdesc, i)"></i>
                        <i class="fa fa-trash font-style" (click)="deleteProject()"></i>
                    </div>
                
            </div>
            <div class="row d-flex flex-row-reverse" *ngIf="showSavebtn" style="border-radius: 5px;background-color: rgb(177, 176, 191);">
                    <form [formGroup]="editForm">

                            <div   style="padding: 30px;">
                                <span>
                                    <b>Duration: </b>&nbsp;</span>
                                <input type="text" name="duration" class="form-control" formControlName="duration">
                            </div>
        
                            <div *ngIf="showSavebtn" style="padding: 30px;">
                                <span>
                                    <b>Description:</b> &nbsp;</span>
                                <textarea rows="5" cols="140" class="form-control" name="description" formControlName="description"></textarea>
                            </div> 
                    <div class="d-flex flex-row-reverse" *ngIf="showSavebtn">
                        <button type="submit" class=" pointer" (click)="saveProject(i)" [ngClass]="{'save-Changes':!editForm.invalid,'save-ChangesDisabled':editForm.invalid}">Save Changes</button>
                        <button type="submit" class="cancel-button pointer" (click)="cancelProject(i)">Cancel</button>
                    </div>

                </form>
            </div>

        </div>
    </div>

</div>