<div class="container">
    <div class="row">
        <h5>
            Projects
        </h5>
    </div>
    <div class="row">
        <div class="col-md-12" *ngFor="let project of projectsArray;let i=index" style="padding: 10px">
            <div class="row" [ngStyle]="{'background-color':project.showProjDetails ? '#3282b8' : '#EFEFEF' }">
                <div class="col-md-12  pointer" (click)="handleProjects(i)">
                    {{project.pname}}
                </div>
            </div>


            <div>
                <div class="row" *ngIf="project.showProjDetails" [ngStyle]="{'background-color': '#bbe1fa'}" style="border-radius: 5px;">
                    <div class="col-md-12"> Name:&nbsp; {{project.pname}}</div>
                    <div class="col-md-12">{{project.pstatus}}</div>
                    <div class="col">{{project.pduration}}</div>
                    <div class="col">{{project.ptechnology}}</div>
                    <div class="col pointer lineHover" (click)="displayProjDetails(i)">{{project.pdetails}}</div>
                    <!-- <div class="col pointer lineHover" routerLink="/mainpage/projectDetails/" routerLinkActive="highlight">{{project.pdetails}}</div> -->
                </div>
            </div>



        </div>
    </div>
</div>






<!-- 
    <div class="col-md-12" *ngIf="showProjDetails">
            <div class="row" >
                <div class="col-md-12"> Name:&nbsp; {{project.pname}}</div>
                <div class="col-md-12">{{project.pstatus}}</div>
                <div class="col-md-12">{{project.pduration}}</div>
                <div class="col-md-12">{{project.ptechnology}}</div>
            </div>
            </div> -->