div.lineHover:hover{
    background-color: rgb(106, 106, 109);
    border-radius:4px;
}

.highlightFields{
    background-color: rgb(185, 204, 237);
    border-radius:1.5rem;
    padding:4px 22px;
    font-size:12px;
    margin-top:2px;
}

.hightlight-menu{
    background-color:black;
    color:white;
    border-radius:1.5rem;
    padding:4px 22px;
    font-size:12px;
    margin-top:2px;
}


